{% extends 'main_template.html' %}
{% load static %}
{% load bootstrap %}
{% block title %} Edycja zgłoszenia {% endblock %}
{% block body %}

    <div class="main_div">

        <form method="post" role="role" enctype="multipart/form-data">
            <h2 style="text-align:center">Edycja zgłoszenia - {{ applicationOrderId }}</h2><br/>
            {% csrf_token %}
            <div class="card border-secondary mb-3">
                <div class="card-header" style="background-color: #E9E9E9;">Zgłoszenie</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            {{ applicationForm.order_id|bootstrap }}
                        </div>
                        <div class="col">
                            {{ applicationForm.order_type|bootstrap }}
                        </div>
                        <div class="col">
                            {{ applicationForm.acceptance_date|bootstrap }}
                            <script>
                                $('#id_acceptance_date').datepicker({
                                    uiLibrary: 'bootstrap4',
                                    modal: false,
                                    footer: false,
                                    format: 'dd.mm.yyyy'
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <div class="card-header" style="background-color: #E9E9E9;">Dane klienta</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            {{ customerForm.first_name|bootstrap }}
                        </div>
                        <div class="col">
                            {{ customerForm.last_name|bootstrap }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ customerForm.phone_number|bootstrap }}
                        </div>
                        <div class="col">
                            {{ customerForm.email|bootstrap }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <div class="card-header" style="background-color: #E9E9E9;">Informacje o urządzeniu</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            {{ deviceForm.producer|bootstrap }}
                        </div>
                        <div class="col">
                            {{ deviceForm.model|bootstrap }}
                        </div>
                        <div class="col">
                            {{ deviceForm.id_number|bootstrap }}
                        </div>
                    </div>
                    <div>
                        {{ applicationForm.technical_condition|bootstrap }}
                    </div>
                    <div class="row">
                        <div class="col">
                                {{ applicationForm.max_repair_cost|bootstrap }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <div class="card-header" style="background-color: #E9E9E9;">Rodzaj zleconych czynności, opis usterki</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            {{ applicationForm.description_for_service|bootstrap }}
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col">
                            {{ applicationForm.realized_activity|bootstrap }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ applicationForm.description_from_service|bootstrap }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ applicationForm.service_repair_cost|bootstrap }}
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col">
                            {{ applicationForm.description_for_customer|bootstrap }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <div class="card-header" style="background-color: #E9E9E9;">Finalizacja zgłoszenia</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            {{ applicationForm.sms_sent_date|bootstrap }}
                            <script>
                                $('#id_sms_sent_date').datepicker({
                                    uiLibrary: 'bootstrap4',
                                    modal: false,
                                    footer: false,
                                    format: 'dd.mm.yyyy'
                                });
                            </script>
                        </div>
                        <div class="col">
                            {{ applicationForm.repair_cost|bootstrap }}
                        </div>
                        <div class="col">
                            {{ applicationForm.return_date|bootstrap }}
                            <script>
                                $('#id_return_date').datepicker({
                                    uiLibrary: 'bootstrap4',
                                    modal: false,
                                    footer: false,
                                    format: 'dd.mm.yyyy'
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group" align="right">
                <a class="btn btn-secondary" href="{% url 'start' %}" role="button">Anuluj</a>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
            <br/>
        </form>

    </div>

{% endblock %}

