{% extends 'main_template.html' %}
{% load static %}
{% load bootstrap %}
{% block title %} Podgląd zgłoszenia {% endblock %}
{% block body %}

    <div class="main_div">

        <form method="post" role="role" enctype="multipart/form-data">
            <h2 style="text-align:center">Podgląd zgłoszenia - {{ application.order_id }}</h2><br/>
            {% csrf_token %}
            <div class="card border-secondary mb-3">
                <div class="card-header" style="background-color: #E9E9E9;">Zgłoszenie</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <label>Numer zgłoszenia</label>
                            <textfield class="form-control" readonly>{{ application.order_id }}</textfield>
                        </div>
                        <div class="col-3">
                            <label>Rodzaj zlecenia</label>
                            <textfield class="form-control" readonly>{{ application.order_type }}</textfield>
                        </div>
                        <div class="col-3"></div>
                        <div class="col-3">
                            <label>Data przyjęcia zgłoszenia</label>
                            <textfield class="form-control" readonly>{{ application.acceptance_date }}</textfield>
                        </div>
                    </div>
                </div>
            </div>
             <div class="card border-secondary mb-3">
                <div class="card-header" style="background-color: #E9E9E9;">Dane klienta</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <label>Imię</label>
                            <textfield class="form-control" readonly>{{ customer.first_name }}</textfield>
                        </div>
                        <div class="col-6">
                            <label>Nazwisko</label>
                            <textfield class="form-control" readonly>{{ customer.last_name }}</textfield>
                        </div>
                    </div><br/>
                    <div class="row">
                        <div class="col-6">
                            <label>Telefon</label>
                            <textfield class="form-control" readonly>{{ customer.phone_number }}</textfield>
                        </div>
                        <div class="col-6">
                            <label>Email</label>
                            <textfield class="form-control" readonly>{{ customer.email|default_if_none:'------' }}</textfield>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <div class="card-header" style="background-color: #E9E9E9;">Informacje o urządzeniu</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <label>Producent</label>
                            <textfield class="form-control" readonly>{{ device.producer }}</textfield>
                        </div>
                        <div class="col-3">
                            <label>Model</label>
                            <textfield class="form-control" readonly>{{ device.model }}</textfield>
                        </div>
                        <div class="col-3">
                            <label>Numer seryjny</label>
                            <textfield class="form-control" readonly>{{ device.id_number|default_if_none:'------'  }}</textfield>
                        </div>
                    </div><br/>
                    <div>
                        <label>Stan techniczny / brakujące elementy</label>
                        <textarea class="form-control" rows="4" readonly>{{ application.technical_condition }}</textarea>
                    </div><br/>
                    <div class="row">
                        <div class="col-6">
                            <label>Maksymalny koszt naprawy bez konsultacji z serwisem</label>
                            <textfield class="form-control" readonly>{{ application.max_repair_cost }}</textfield>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <div class="card-header" style="background-color: #E9E9E9;">Rodzaj zleconych czynności, opis usterki</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <label>Opis dla serwisu</label>
                            <textarea class="form-control" rows="4" readonly>{{ application.description_for_service }}</textarea>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col">
                            <label>Wykonana czynność</label>
                            <textfield class="form-control" readonly>{{ application.realized_activity }}</textfield>
                        </div>
                    </div><br/>
                    <div class="row">
                        <div class="col-12">
                            <label>Opis od serwisu</label>
                            <textarea class="form-control" rows="4" readonly>{{ application.description_from_service }}</textarea>
                        </div>
                    </div><br/>
                    <div class="row">
                        <div class="col-3">
                            <label>Koszty poniesione przez serwis</label>
                            <textfield class="form-control" readonly>{{ application.service_repair_cost|default_if_none:'' }}</textfield>
                        </div>
                        <div class="col-auto"></div>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <div class="card-header" style="background-color: #E9E9E9;">Finalizacja zgłoszenia</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <label>Opis dla klienta</label>
                            <textarea class="form-control" rows="4" readonly>{{ application.description_for_customer }}</textarea>
                        </div>
                    </div><br/>
                    <div class="row">
                        <div class="col-5">
                            <label>Data wysłania SMSa z powiadomieniem do klienta</label>
                            <textfield class="form-control" readonly>{{ application.sms_sent_date|default_if_none:'' }}</textfield>
                        </div>
                        <div class="col-3">
                            <label>Całkowity kosztu usługi</label>
                            <textfield class="form-control" readonly>{{ application.repair_cost|default_if_none:'' }}</textfield>
                        </div>
                        <div class="col-4">
                            <label>Data odebrania urządzenia przez klienta</label>
                            <textfield class="form-control" readonly>{{ application.return_date|default_if_none:'' }}</textfield>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group" align="right">
                <a class="btn btn-secondary" href="{% url 'start' %}" role="button">Wróć do listy zgłoszeń</a>
            </div>
            <br/>
        </form>

    </div>

{% endblock %}

