{% extends 'main_template.html' %}
{% load static %}
{% load bootstrap %}
{% block title %} Status zgłoszenia {% endblock %}
{% block body %}
{% load group_check %}

    <div class="main_div">

        <form method="post" role="role" enctype="multipart/form-data">
            <h2 style="text-align:center">Status zgłoszenia - {{ orderId }}</h2><br/>
            {% csrf_token %}
            {% for status in statuses %}
            <div class="card">
                <div class="card-body">
                    <p>{{ status.content }} </p>
                    <footer class="blockquote-footer"><cite>{{ status.author }}</cite> <cite>[{{ status.date_of_change }}]</cite></footer>
                </div>
            </div><br/>
            {% endfor %}
            <label class="mr-sm-2" for="inlineFormCustomSelect">Ustaw status</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="selected_status">
                <option selected>--------------</option>
                {% if request.user|has_group:"shop" %}
                    <option value="Sklep / Przyjęte">Przyjęte</option>
                    <option value="Sklep / Gotowe do serwisu">Gotowe do serwisu</option>
                    <option value="Sklep / Do odbioru">Do odbioru</option>
                    <option value="Sklep / Odebrane z serwisu">Odebrane z serwisu</option>
                    <option value="Sklep / SMS I - wysłany">SMS I - wysłany</option>
                    <option value="Sklep / SMS II - wysłany">SMS II - wysłany</option>
                    <option value="Sklep / Porzucone">Porzucone</option>
                    <option value="Sklep / Reklamacja">Reklamacja</option>
                    <option value="Sklep / Zakończone">Zakończone</option>
                {% endif %}
                {% if request.user|has_group:"service" %}
                    <option value="Serwis / Przyjęte">Przyjęte</option>
                    <option value="Serwis / Realizowane">Realizowane</option>
                    <option value="Serwis / Do konsultacji">Do konsultacji</option>
                    <option value="Serwis / Zrobione">Zrobione</option>
                    <option value="Serwis / Złomowanie">Złomowanie</option>
                {% endif %}
                {% if request.user|has_group:"admin" %}
                    <option value="Sklep / Przyjęte">Sklep / Przyjętee</option>
                    <option value="Sklep / Gotowe do serwisu">Sklep / Gotowe do serwisu</option>
                    <option value="Sklep / Do odbioru">Sklep / Do odbioru</option>
                    <option value="Sklep / Odebrane z serwisu">Sklep / Odebrane z serwisu</option>
                    <option value="Sklep / SMS I - wysłany">Sklep / SMS I - wysłany</option>
                    <option value="Sklep / SMS II - wysłany">Sklep / SMS II - wysłany</option>
                    <option value="Sklep / Porzucone">Sklep / Porzucone</option>
                    <option value="Sklep / Reklamacja">Sklep / Reklamacja</option>
                    <option value="Sklep / Zakończone">Sklep / Zakończone</option>
                    <option value="Serwis / Przyjęte">Serwis / Przyjęte</option>
                    <option value="Serwis / Realizowane">Serwis / Realizowane</option>
                    <option value="Serwis / Do konsultacji">Serwis / Do konsultacji</option>
                    <option value="Serwis / Zrobione">Serwis / Zrobione</option>
                    <option value="Serwis / Złomowanie">Serwis / Złomowanie</option>
                {% endif %}
            </select><br/><br/><br/>
            <div class="form-group" align="right">
                <a class="btn btn-secondary" href="{% url 'start' %}" role="button">Wróć do listy zgłoszeń</a>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
            <br/>
        </form>

    </div>

{% endblock %}

